.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #0f172a;
}

.logo {
  color: #38bdf8;
}

.links a {
  color: #e5e7eb;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

.links a.active {
  color: #38bdf8;
  border-bottom: 2px solid #38bdf8;
}
